body{
    background-color: rgb(233, 229, 223);
}
.box { 
    width: 100px; 
    height: 100px; 
    position: absolute; 
    background: gray; 
    left: 200px; 
    top: 200px;
    border-radius: 50%; 
    background-image: url("src/download.jpeg");
    background-size: cover;
}